@keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}
@-webkit-keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@-moz-keyframes move-background {    
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

    @-webkit-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

.background-container{
	position: fixed;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
  z-index: 0;
}

.stars {
 background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
 position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
  	z-index: 0;
}

.twinkling{
	width:10000px;
	height: 100%;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    
    -moz-animation:move-background 70s linear infinite;
  -ms-animation:move-background 70s linear infinite;
  -o-animation:move-background 70s linear infinite;
  -webkit-animation:move-background 70s linear infinite;
  animation:move-background 70s linear infinite;
	
}

@font-face {
  font-family: "MyFont";
  font-style: normal;
  font-weight: normal;
  src: url("../public/RoboGirls-4BzEB.ttf") format("truetype");
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
  background: black;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #83ff49; 
  border-radius: 10px;
  height: 50px !;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #282c34;
}

.App {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: black;
}



.coin-select-box, .coin-amount-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}

.coin-select-box {
  margin-top: 10px;
}
.coin-amount-box {
  margin-top: 10px;
}

.coin-select-box .flip-button {
  margin: 0px 5px;
  font-size: 12px;
  font-weight: 900;
}

.coin-amount-box .flip-button {
  margin: 0px 5px;
}

.logo-img-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.logo-img-section img {
  width: 200px;
}

main {
  margin-top: 22px;
  z-index: 5;
}

.container {
  position: relative;
  z-index: 0;
  margin: auto;
  width: 800px;

}

.main-content {
  padding-top: 0;
}

.flip-box {
  justify-content: center;
  flex-direction: column;
  width: 87%;
  margin: auto;
}

.flip-box .coins {
  margin-bottom: 60px;
  position: relative;
}

.flip-box, .flip-box .coins {
  display: flex;
  align-items: center;
}

.flip-box .coins img {
  transform: rotate(0deg);
  width: 150px;
}

.flip-box .coins:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background: radial-gradient(50% 50% at 50% 50%,rgba(36,255,0,.23) 0,rgba(250,255,0,0) 100%);
  margin-top: 40px;
}

.bet-on-title {
  font-family: MyFont;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 32px;
  text-shadow: -1.22586px 0 17.4686px rgba(106,255,82,.67);
  margin-bottom: 8px;
  margin-top: 8px;
  color: #83ff49;
  z-index: 100;
}

.tab-section {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: flex-end;
  border-radius: 7px;
  margin: auto;
  margin-bottom: 10px;
}

.tab-inner-section {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 1px solid #83ff49;
}

.selected-tab {
  background-color: #83ff49;
  color: black !important;
}

.tab-section .tab {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 18px;
  cursor: pointer;
  position: relative;
  font-weight: bold;
}

.tab1 {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.tab2 {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.bet-selecte .coin-box img {
  width: 100px;
}
.bet-selecte .coin-box .flip-button {
  margin-top: 10px;
} 
.flip-button {
  background-color: #83ff49;
  padding: 10px 15px;
  font-size: 15px;
  border: none;
  outline: none;
  border-radius: 2px;
  font-weight: bold;
  box-shadow: -1.22586px 0 17.4686px rgba(106,255,82,.67);
  cursor: pointer;
  border: solid 2px transparent;
  color: #282c34;
}
.connect-btn-section .flip-button {
  width: 100%;
  margin: 0px 5px;
}
.box-container {
  position: relative;
  width: 80%;
  margin: auto;
  margin-top: 15px;
}

.box-container .text-input {
  background: transparent;
  outline: none;
  border: none;
  padding: 10px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
}

.box-container label {
  color:  white;
  font-size: 16px;
}
.connect-btn-section .flip-button:hover {
  background-color: #4aff2c;
  opacity: 0.8;
  color: azure;
}

.coin-box .flip-button:hover, .flip-button.selected {
  border: aliceblue 2px solid;
  color: aliceblue;
  background: transparent;
}

.or-section p, .choose-text {
  font-family: MyFont;
  font-size: 30px;
  color: #83ff49;
  margin-bottom: 0px;
}
.choose-text p{
  font-size: 20px;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 50px;
}
.bet-selecte .coin-box p {
  font-family: MyFont;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  color: #83ff49;
}

.flip-inner-box {
  margin-top: 20px;
  width: 100%;
  border-radius: 3px;
  padding: 20px;
  margin-bottom: 40px;
  border: 2px solid #275f0e;
  box-sizing: border-box;
}
.upload__image-wrapper {
  text-align: center;
}
.upload__image-wrapper button {
  width: 100%;
}
.connect-btn-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 80%;
}


.text-green {
  color: #83ff49 !important;
}

.h2-plays {
  text-align: center;
  margin-top: 80px;
  font-family: MyFont;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: #83ff49;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px;
  z-index: 1;
  border-bottom: 2px solid #275f0e;
}

header ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding: 0px;
  z-index: 10;
}

header ul li {
  margin-left: 16px;
  margin-right: 16px;
}

header ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: MyFont;
  font-style: normal;
  font-weight: 400;
  font-size: 17.0299px;
  line-height: 19px;
  color: #4aff2c;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  z-index: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.toolbar {
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  padding: 5px 10px;
  border-radius: 3px;
  background: #181c14;
}
.toolbar div {
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 3px;
  background: #282c34;
}
.toolbar p {
  margin: 0px;
  font-size: 10px;
}
.toolbar .account-text {
  font-size: 16px;
  margin-right: 4px;
}
.toolbar .sound-img {
  width: 40px;
}

.disconnect-modal {
  border-radius: 8px;
  padding: 20px;
  z-index: 1000;
  background-color: rgb(28, 28, 28);
  position: absolute;
  right: 18px;
  top: 70px;
}
.disconnect-btn {
  border-radius: 4.73px;
  background: transparent;
  outline: none;
  border: 1px solid;
  font-size: 15px;
  padding: 5px 10px;
  cursor: pointer;
}
.account-section {
  z-index: 100;
}
.account-section:hover {
  opacity: 0.8;
}

.disconnect-btn:hover {
  background-color: rgb(50, 50, 50);
  color: white !important;
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px;
  z-index: 10;
}

footer ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding: 0px;
  z-index: 10;
}

footer ul li {
  margin-left: 16px;
  margin-right: 16px;
}

footer ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: MyFont;
  font-style: normal;
  font-weight: 400;
  font-size: 17.0299px;
  line-height: 19px;
  color: #4aff2c;
  display: flex;
  align-items: center;
  cursor: pointer;
  /* text-shadow: .22586px 0 17.4686px rgba(106,255,82,.67) */
}

@media only screen and (max-width: 450px) {
  .container {
    width: 100% !important;
  }
  .flip-button {
    padding: 3px 5px;
    font-size: 11px;
  }
  .bet-on-title {
    font-size: 20px !important;
  }
  .coin-select-box, .coin-amount-box {
    width: 100%;
  }
  .connect-btn-section .flip-button {
    width: 100%;
    margin: 0px 5px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 420px;
  }
  .bet-on-title {
    font-size: 25px;
  }
  .flip-button {
    padding: 3px 5px;
  }
  .coin-select-box, .coin-amount-box {
    width: 90%;
  }
  .connect-btn-section .flip-button {
    width: 100%;
  }
  .connect-btn-section {
    width: 90%;
  }
  footer {
    position: relative;
    padding: 0px;
  }
  .flip-box {
    width: 95%;
  } 
  footer ul li {
    margin-left: 8px;
    margin-right: 8px;
  }
  .choose-text p {
    font-size: 18px;
  }
}

.image-upload {
  cursor: pointer;
}
.error-message {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: red;
}

.loading-spinner {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-40px,-40px);
}

.text-input:disabled {
  color: gray;
}

.dropdown_list {
  background-color: black;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1.3rem;
  font-weight: 500;
  border: 1px solid #83ff49;
  border-bottom-left-radius: 7px !important;
  border-bottom-right-radius: 7px !important;
  max-height: 200px;
  overflow-y: auto;
}

.dropdown_list > li {
  list-style: none;
  background: black;
  padding: 10px;
  color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.dropdown_list > li:hover {
  background: #181c14 !important;
}
.dropdown_list > li:last-child {
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}
.dropdown_list_container {
  position: absolute;
  width: 100%;
  background-color: black;
  z-index: 10;
}

.select_token {
  background: transparent;
  border: 1px solid #83ff49;
  border-radius: 10px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  color: white;
  cursor: pointer;
}
.select_token_click {
  background: transparent !important;
  color: white;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.select_token:hover {
  background: transparent;
}

.select-combo {
  font-weight: bold;
  padding: 5px 10px;
  background-color: #282c34;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.token-image {
  width: 30px;
}

.token-img-group {
  display: flex;
  position: relative;
}
.blockchain-image {
  width: 18px;
  position: absolute;
  top: 17px;
  left: 20px;
}
.dropdown-img {
  width: 40px;
}
.option-network-img {
  position: absolute;
  width: 20px;
  top: 20px;
  left: 20px;

}
.option-img-group {
  display: flex;
  position: relative;
}

.hashpack-address, .evm-address {
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0px;
}
.divider {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 0.01em solid #275f0e ;
  width: 100%;
}